<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "ATDM.ui.description"}}</a>
    <a class="item" data-tab="properties">{{localize "ATDM.ui.properties"}}</a>
</nav>
<section class="sheet-body">
    <div class="tab flexrow description active" data-group="primary" data-tab="description">
        {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
    </div>
    <div class="tab properties" data-group="primary" data-tab="properties">
        <div class="form-group">
            <label>{{localize "ATDM.ui.slug"}}</label>
            <div class="cell">
                <input class="field-value" name="system.slug" type="text" readonly value="{{system.slug}}" data-dtype="String" />
            </div>
        </div>
    </div>
</section>
