<div class="form-group">
    <label>{{localize "ATDM.ui.slug"}}</label>
    <div class="cell">
        <input class="field-value" name="system.slug" type="text" readonly value="{{system.slug}}" data-dtype="String" />
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.equipment.subtype"}}</label>
    <div class="form-fields">
        <select name="system.subtype" data-type="String" style="width:100%">
            {{#select system.subtype}}
                {{#each @root.config.equipment.subtypes as |label idx|}}
                    <option value="{{idx}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>
