<section class="sheet-body">
<div class="form-group">
    <label>{{localize "ATDM.ui.category"}}</label>
    <div class="form-fields">
        <select name="system.category" data-type="String" style="width:100%">
            {{#select system.category}}
                <option value="">{{localize "ATDM.ui.none"}}</option>
                {{#each config.skills.categories as |cat id|}}
                    <option value="{{id}}">{{localize cat}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "ATDM.ui.slug"}}</label>
    <div class="cell">
        <input class="field-value" name="system.slug" type="text" readonly value="{{system.slug}}" data-dtype="String" />
    </div>
</div>

<div class="form-group">
    <label>{{localize "ATDM.ui.properties"}}</label>
    <div class="form-fields">
        {{#each system.properties as |prop idx|}}
            <label class="checkbox"> <input type="checkbox" name="system.properties.{{idx}}" {{checked prop}}> {{localize (concat "ATDM.properties." idx)}}</label>
        {{/each}}
    </div>
</div>

<!-- STATS -->
<div class="form-group">
    <label>{{localize "ATDM.ui.stat"}}</label>
    <div class="form-fields">
        <select name="system.stat" data-type="String" style="width:100%">
            {{#select system.stat}}
                <option value="">{{localize "ATDM.ui.none"}}</option>
                {{#each config.stats as |stat id|}}
                    <option value="{{id}}">{{localize stat}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.ui.statBonus"}}</label>
    <div class="cell">
        <input class="field-value" name="system.statBonus" type="number" readonly value="{{system.statBonus}}" data-dtype="Number" />
    </div>
</div>

<!-- RANK -->
<div class="form-group">
    <label>{{localize "ATDM.ui.rank"}}</label>
    <div class="cell">
        <input class="field-value" name="system.rank" type="number" value="{{system.rank}}" data-dtype="Number" />
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.ui.rankBonus"}}</label>
    <div class="cell">
        <input class="field-value" name="system.rankBonus" type="number" readonly value="{{system.rankBonus}}" data-dtype="Number" />
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.ui.vocBonus"}}</label>
    <div class="cell">
        <input class="field-value" name="system.vocBonus" type="number" value="{{system.vocBonus}}" data-dtype="Number" />
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.ui.kinBonus"}}</label>
    <div class="cell">
        <input class="field-value" name="system.kinBonus" type="number" value="{{system.kinBonus}}" data-dtype="Number" />
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.ui.itemBonus"}}</label>
    <div class="cell">
        <input class="field-value" name="system.itemBonus" type="number" value="{{system.itemBonus}}" data-dtype="Number" />
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.ui.specialBonus"}}</label>
    <div class="cell">
        <input class="field-value" name="system.specialBonus" type="number" value="{{system.specialBonus}}" data-dtype="Number" />
    </div>
</div>
<div class="form-group">
    <label>{{localize "ATDM.ui.total"}}</label>
    <div class="cell">
        <input class="field-value" name="system.total" type="number" readonly value="{{system.total}}" data-dtype="Number" />
    </div>
</div>
</section>