<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    {{!log "ATDM | Actor " this}}
    <div class="wrap">
        <div class="sheet-header flexrow">
            <div class="details">
                <div class="form-group">
                    <label>{{localize "ATDM.ui.name"}}</label>
                    <div class="cell">
                        <input class="field-value sans" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ATDM.ui.name"}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "ATDM.ui.lvl"}}</label>
                    <div class="cell">
                        <input class="field-value sans" name="system.resources.lvl" type="text" value="{{system.resources.lvl}}" placeholder="{{localize "ATDM.ui.lvl"}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "ATDM.ui.xp"}}</label>
                    <div class="cell">
                        <input class="field-value sans" name="system.resources.xp.current" type="text" value="{{system.resources.xp.current}}" placeholder="{{localize "ATDM.ui.xp"}}" data-dtype="String"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "ATDM.ui.nextLvl"}}</label>
                    <div class="cell">
                        <input class="field-value sans" name="system.resources.xp.nextLvl" type="text" value="{{system.resources.xp.nextLvl}}" placeholder="{{localize "ATDM.ui.nextLvl"}}" data-dtype="String"/>
                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <label>{{localize "ATDM.ui.kin"}}</label>-->
<!--                    <div class="cell">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>{{localize "ATDM.ui.culture"}}</label>-->
<!--                    <div class="cell">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>{{localize "ATDM.ui.vocation"}}</label>-->
<!--                    <div class="cell">-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        <div class="portrait">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
        </div>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">{{localize "ATDM.ui.tabs.main"}}</a>
            <a class="item" data-tab="skills">{{localize "ATDM.ui.tabs.skills"}}</a>
            <a class="item" data-tab="combat">{{localize "ATDM.ui.tabs.combat"}}</a>
            <a class="item" data-tab="inventory">{{localize "ATDM.ui.tabs.inventory"}}</a>
            <a class="item" data-tab="magic">{{localize "ATDM.ui.tabs.magic"}}</a>
            <a class="item" data-tab="effects">{{localize "ATDM.ui.tabs.effects"}}</a>
            <a class="item" data-tab="description">{{localize "ATDM.ui.tabs.description"}}</a>
        </nav>
        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Main Tab --}}
            <div class="tab main" data-group="primary" data-tab="main">
                {{> "systems/atdm/templates/actors/parts/actor-stats-partial.hbs"}}
            </div>
            <div class="tab skills" data-group="primary" data-tab="skills">
                {{> "systems/atdm/templates/actors/parts/actor-skills-partial.hbs"}}
            </div>
            <div class="tab combat" data-group="primary" data-tab="combat"></div>
            <div class="tab inventory" data-group="primary" data-tab="inventory">
                {{> "systems/atdm/templates/actors/parts/actor-inventory-partial.hbs"}}
            </div>
            <div class="tab magic" data-group="primary" data-tab="magic">
                {{> "systems/atdm/templates/actors/parts/actor-magic-partial.hbs"}}
            </div>
            <div class="tab effects" data-group="primary" data-tab="effects">
                {{> "systems/atdm/templates/actors/parts/actor-effects-partial.hbs"}}
            </div>
            {{!-- Biography Tab --}}
            <div class="tab flexrow description active bg-blue" data-group="primary" data-tab="description">
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
            </div>
        </section>
    </div>
</form>