<div class="skills-container container">
    <div class="container-header flexrow">
        <div class="header-field flex6 left gray"><h4>{{localize "ATDM.ui.skills"}}</h4></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.stats"}}</small></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.rank"}}</small></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.rankBonus"}}</small></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.voc"}}</small></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.kin"}}</small></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.spec"}}</small></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.item"}}</small></div>
        <div class="header-field flex2 center"><small>{{localize "ATDM.ui.shorts.total"}}</small></div>
        <div class="header-field flex1 right">&nbsp;</div>
    </div>
    <div class="container-body">
{{#each skillGroups as |sg i|}}
        <div class="sg-container container">
            <div class="container-header flexrow">
                <div class="header-field flex1 left gray"><h4>{{localize (concat "ATDM.skills.categories." sg.category)}}</h4></div>
            </div>
            <div class="container-body">
            {{#each sg.items as |skill id|}}
                {{!log "skill" skill id}}
                <div class="skill container-row flexrow no-wrap item" data-item-id="{{skill._id}}" data-item-type="skill">
                    <div class="form-fields left flex6">
                        {{#if skill.system.properties.rollable}}
                            <a class="rollable">{{skill.name}} ({{#if skill.system.stat}}{{localize (concat "ATDM.stats.abbrev." skill.system.stat)}}{{else}}-{{/if}})</a>
                        {{else}}
                            {{skill.name}} ({{#if skill.system.stat}}{{localize (concat "ATDM.stats.abbrev." skill.system.stat)}}{{else}}-{{/if}})
                        {{/if}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.statBonus}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.rank}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.rankBonus}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.vocBonus}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.kinBonus}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.specBonus}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.itemBonus}}
                    </div>
                    <div class="form-fields center flex2">
                        {{skill.system.total}}
                    </div>
                    <div class="item-controls right flex1">
                        <div class="flexrow center no-wrap">
                            <a class="item-edit"><i class="fa-regular fa-pencil"></i></a>&nbsp;
                            <a class="item-delete"><i class="fa-solid fa-xmark-large"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
    </div>
</div>

{{/each}}
</div>
