<div class="stats-container container">
    <div class="container-header flexrow">
        <div class="header-field flex2 left gray"><h4>{{localize "ATDM.ui.stats"}}</h4></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.base"}}</small></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.kin"}}</small></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.spec"}}</small></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.total"}}</small></div>
    </div>
    <div class="container-body">
    {{#each system.stats as |stat id|}}
        <div class="stat container-row flexrow no-wrap">
            <div class="form-fields left flex2">
                {{localize (concat "ATDM.stats." id)}} ({{localize (concat "ATDM.stats.abbrev." id)}})
            </div>
            <div class="form-fields center flex1">
                <input class="field-value" name="system.stats.{{id}}.base" type="number" value="{{stat.base}}" data-dtype="Number" />
            </div>
            <div class="form-fields center flex1">
                <input class="field-value" name="system.stats.{{id}}.kin" type="number" value="{{stat.kin}}" data-dtype="Number" />
            </div>
            <div class="form-fields center flex1">
                <input class="field-value" name="system.stats.{{id}}.spec" type="number" value="{{stat.spec}}" data-dtype="Number" />
            </div>
            <div class="form-fields center flex1">
                <input class="field-value" name="system.stats.{{id}}.total" readonly type="number" readonly value="{{stat.total}}" data-dtype="Number" />
            </div>
        </div>
    {{/each}}
    </div>
</div>
<br/>
<div class="saves-container container">
    <div class="container-header flexrow">
        <div class="header-field flex2 left gray"><h4>{{localize "ATDM.ui.saveRolls"}}</h4></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.lvl"}}</small></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.kin"}}</small></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.spec"}}</small></div>
        <div class="header-field flex1 center"><small>{{localize "ATDM.ui.shorts.total"}}</small></div>
    </div>
    <div class="container-body">
        {{#each system.saves as |save id|}}
            <div class="save container-row flexrow no-wrap">
                <div class="form-fields left flex2">
                    {{localize (concat "ATDM.saves." id)}} ({{localize (concat "ATDM.stats.abbrev." save.stat)}})
                </div>
                <div class="form-fields center flex1">
                    <input class="field-value" name="system.saves.{{id}}.lvl" type="number" value="{{save.lvl}}" data-dtype="Number" />
                </div>
                <div class="form-fields center flex1">
                    <input class="field-value" name="system.saves.{{id}}.kin" type="number" value="{{save.kin}}" data-dtype="Number" />
                </div>
                <div class="form-fields center flex1">
                    <input class="field-value" name="system.saves.{{id}}.spec" type="number" value="{{save.spec}}" data-dtype="Number" />
                </div>
                <div class="form-fields center flex1">
                    <input class="field-value" name="system.saves.{{id}}.total" readonly type="number" readonly value="{{save.total}}" data-dtype="Number" />
                </div>
            </div>
        {{/each}}
    </div>
</div>
